body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  margin: 0;
  background: #f3f4f6;
}

.navbar {
  background: #111827;
  padding: 1rem;

  display: flex;
  gap: 1rem;
}

.navbar a {
  color: #e5e7eb;
  text-decoration: none;
}

.container {
  padding: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
}

.card {
  background: white;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.nav-logout{
  float :right;
  background-color: #111827;
      color: #e5e7eb;
    text-decoration: none;
    font-size: 0.9em;
    border: none;
}
.nav-rightside{
display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}
.nav-leftside{
display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}
.form input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
}

.form button {
  margin-top: 0.5rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  background: white;
  margin-top: 0.5rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
}